* {
	padding: 5px;
	margin: 5px;
	box-sizing: border-box;
}

body > h1 {
	text-align: center;
}

div {
	background-color: lightgrey;
}

h3 {
	text-align: center;
}

.chicken, .beef, .sushi {
	background-color: grey;
	color: lightgrey;
	position: relative;
	left: 70%;
	border: 1px solid black;
	width: 25%

}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 32%;
		border: 1px solid black;
		float: left;		
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		border: 1px solid black;
		float: left;
	}
	.col-md-6 {
		width: 45%;
	}
	.col-md-12 {
		width: 91%;
	}
}

@media (max-width: 767px) {
	.col-xs-12 {
		width: 100%;
		border: 1px solid black;
		float: left;		
	}
}
